/**
* @author Mia Gudelj, Kathrin Bürki, Antoine Cleuvenot
*/

html, body {
	font-family: Georgia, sans-serif !important;
	font-size: 1vw;
	color: black;
	scroll-behavior: smooth !important;
	hyphens: auto;
	box-sizing: content-box;
	/* BACKGROUND COLOR GRADIENT */
    background: -webkit-linear-gradient(to right, LightCyan, CornflowerBlue);
    background: linear-gradient(to right, LightCyan, CornflowerBlue);

}
/* SET FONT SIZE FOR SMALLER DISPLAYS */
@media screen and (max-width: 900px) {
	html, body {
		font-size: 3vw;
	}

	.home .col-3 {
		box-sizing: content-box;
	}
}

h1 {
	padding-bottom: 1.5vh;
	text-align: center;
}
h3 {
	padding-top: 1vw;
	text-align: left;
}
h6 {
	font-weight: bold !important;
	text-align: left;
}

img, video {
	width: 100%;
}

a {
	text-decoration: none !important;
	color: black !important;
}

footer {
	margin-top: 2vw;
	font-size: 0.5vw;
}

/* TABLE */
td .col {
	margin-left: -2vw !important;
}
tbody img {
	width: 15vw !important;
	margin-top: 3vw;
}

/* NAVIGATION: */
.megamenu {
    position: static !important;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100vw;
}

.dropdown-menu a:hover {
	color: darkblue !important;
}

.navpic {
	background: url("img/tablette_blau.jpg") no-repeat !important; 
	position: center;
	background-size: cover;
}

.text-uppercase {
    letter-spacing: 0.1vw;
	text-align: left;
}


/* CONTAINER*/

.container {
	padding: 3vw !important;
	padding-top: 1vw !important;
	padding-bottom: 1vw !important;
	margin-top: 1vw;
	background-color: white;
	border-radius: 1vw;
	text-align: justify;
}

.bg {
	margin-top: 5vw;
	margin-bottom: 1vw;
	padding: 8vw;
	background: url("img/tablette_blau2.jpg") no-repeat; 
	background-position: center;
	background-size: 100vw;
}

.jumppoints {
	color: black;
	padding-top: 1vw;
	padding-bottom: 0.1vw;
	margin-bottom: 2vw;
	background: -webkit-linear-gradient(to left, LightCyan, CornflowerBlue);
	background: linear-gradient(to left, LightCyan, CornflowerBlue);
	border-radius: 5px;
}
.jumppoints a {
	color: black !important;
}

.quellen .container img {
	width: 50%;
	margin-bottom: 1vw;
}
