/**
* @author Mia Gudelj
*/

html, body {
	font-family: "Times New Roman", Times, serif !important;
	color: black;
	/* hintergrundverlauf */
	background: #eaafc8;
    background: -webkit-linear-gradient(to right, LightCyan, CornflowerBlue);
    background: linear-gradient(to right, LightCyan, CornflowerBlue);
    min-height: 100vh;
	scroll-behavior: smooth !important;

}

h1 {
	text-align: center !important;
	padding-bottom: 3%;
}
h3 {
	padding-top: 1%;
}
h6 {
	font-size: 120% !important;
	font-weight: bold !important;
}

img, video {
	width: 100% !important;
}

a {
	text-decoration: none !important;
	color: black !important;
}

.col-12 {
	margin-left: -1.5% !important;
}

/* NAVIGATION: */
.megamenu {
    position: static !important;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
}

.dropdown-menu a:hover {
	color: darkblue !important;
}

.navpic {
	background: url("img/tablette_blau.jpg") no-repeat !important; 
	position: center;
	background-size: cover;
}

.text-uppercase {
    letter-spacing: 0.09em;
}

.megamenu h6 {
	font-size: 90% !important;
}


/* CONTAINER*/

.container {
	padding: 3% !important;
	padding-top: 1% !important;
	padding-bottom: 1% !important;
	margin-top: 1%;
	background-color: white;
	border-radius: 15px;
	text-align: justify;
}

.bg {
	margin-top: 5%;
	margin-bottom: 1%;
	padding: 8%;
	background: url("img/tablette_blau2.jpg") no-repeat; 
	background-position: center;
	background-size: 100%;
}

.jumppoints {
	color: white;
	padding-top: 1%;
	padding-bottom: 0.1%;
	margin-bottom: 3%;
	background: -webkit-linear-gradient(to right, lightskyblue, CornflowerBlue);
	background: linear-gradient(to right, lightskyblue, CornflowerBlue);
	border-radius: 5px;
}
.jumppoints a {
	color: white !important;
}


/* BILDER */
/*.content{
	margin: 2vw 2vw 2vw 2vw;
}

.col, .col-1, .col-2, .col-3, .col-4,
 .col-5, .col-6, .col-7, .col-8,
 .col-9, .col-10, .col-11, .col-12 	{
	padding-right: auto !important;
	padding-bottom: 1% !important;
}
*/
/*
footer {
	margin: -1%;
	margin-bottom: -21%;
	margin-top: 10%;
	background-color: #383838;
	font-size: 90%;
	padding-top: 1%;
	padding-left: 1%;
}
*/